@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

#container-message-new input {
    width: 100%;
    height: 70px;
    border-radius: 22px;
    border: none;
    outline: 2px solid #6C63FF;
}

#checkbox-for-teacher {
  outline: none;
}

#navbar-logo-mine {
  color: white;
}

#spinner-for-teacher {
  position: absolute;
  right: 20%;
  top: 20%;
}

.container-status {
  background-color: #6C63FF;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 40px 40px 0;
  height: 50px;
}

#title-advancements-head {
  animation: title 1s ease-in-out;
}
@keyframes title {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#daily-logo {
  color: #333;
}

#navbar-canvas-off-mine {
  background-color: #7900FF;
  margin: 0;
}

#off-my-canvas {
  width: 220px;
}

#img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner-for-spin {
  position: absolute;
  right: 30px;
  top: 20px;
}

#container-message-new {
  position: relative;
}

.container-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-centered input {
  margin-top: 20px;
  border: none;
  border-radius: 22px;
  outline: 3px solid #6C63FF;
}

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

#logo-nav {
  height: 5em;
}